.search_result {
    background-color: #EEE;
    margin: 5px;
    padding: 5px;
    border-style: groove;
    border-width: 4px;
}

.expanded-link {
    margin: 5px;
    padding: 5px;
    border-style: groove;
    border-width: 4px;
}

input {
    font-size: 18px;
}

textarea {
    font-size: 18px;
}

#id_text {
    width: 50em;
    height: 50em;
}