<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <title>database backup</title>
</head>

<body>
<div id="container">
Back up your document and thread database?
<a href="{% url 'hypothesize_app:database_backup' %}?backup=TRUE">Go!</a>
<br /><br />

{% if backup_result %}
    Database successfully backed up at <br /><br /> "{{ backup_result }}".
    <br /><br />
{% endif %}

To restore the database from a backup simply copy your desired backup file (located in the directory
"{{ db_backup_dir }}") into the directory "{{ db_dir }}" and change the filename to "db.sqlite3".
<br /><br />

<a href="{% url 'hypothesize_app:document_search' %}">return to document search</a><br />
<a href="{% url 'hypothesize_app:thread_search' %}">return to thread search</a>
</div>
</body>