<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/jquery.a-tools-1.4.1.js" %}"></script>
    <script src="{% static "js/jquery.asuggest.js" %}"></script>
    <script>

    function save_document() {
        if (!$('#id_title').val()) {
            $('#id_title').val('unknown');
        }
        $('#document_form').submit();
    }

    function extract_title() {
        $('#id_extract_title_from_pdf').val('true');
        if (!$('#id_title').val()) {
            $('#id_title').val('unknown');
        }
        $('#document_form').submit();
    }

    function fetch_document_metadata(document_title) {
        $.ajax({
            url: "{% url 'hypothesize_app:ajax_document_autofiller' %}",
            type: "GET",
            data: {
                'title': document_title
            },

            success: function(json){

                if ('error_message' in json) {
                    $('#autofill_message').html(json['error_message']);
                }
                else {
                    $('#autofill_message').html('search completed');

                    // fill in results

                    $('#id_title').val(json['title']);
                    $('#id_web_link').val(json['web_link']);
                    $('#id_publication').val(json['publication']);
                    $('#id_year').val(json['year']);
                    $('#id_author_text').val(json['author_text']);
                    $('#id_abstract').val(json['abstract']);
                    $('#id_crossref').val(json['crossref']);
                }
            },

            failure: function(json){
                $('#autofill_message').html('error: could not connect to server');
            }
        });
    }

    $(document).ready(function(){

        //var suggests = ['elephant', 'rhino', 'elephino'];
        var suggests_documents = {{ document_key_list | safe }};
        $.fn.asuggest.defaults.delimiters = " ";
        $.fn.asuggest.defaults.minChunkSize = 1;

        $("#id_linked_document_text").asuggest(suggests_documents);

        var suggests_authors = {{ author_name_list | safe }};
        $("#id_author_text").asuggest(suggests_authors);

        var suggests_publication = {{ publication_name_list | safe }};
        $("#id_publication").asuggest(suggests_publication);

        $(document).on('click', '#autofill_button', function() {
            event.preventDefault();
            var fetch_message = 'searching...';
            $('#autofill_message').html(fetch_message);
            fetch_document_metadata($('#id_title').val());
        });
    });
    </script>

    <title>
        {% if document %}
            EDIT: {{ document.title }}
        {% else %}
            add new document
        {% endif %}
    </title>
</head>

<body>
<div id="container">
    <h3>
        (<a href="{% url 'hypothesize_app:thread_search' %}">search threads</a>)&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:document_search' %}">search documents</a>)&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:thread_create' %}">add new thread</a>)&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:document_create' %}">add new document</a>)&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:database_backup' %}">back up database</a>)&nbsp; &nbsp; &nbsp;
    </h3>
    <a href="#" onclick="save_document()">save</a><br /><br />
    <form id="document_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        file: {{ form.file }}
        <br /><br />
        title (<a href="#" onclick="extract_title()">extract from pdf</a>)<br />{{ form.title }} <br />
        (<a id="autofill_button" href="#">attempt to autofill from title using CrossRef</a>)
        <span id="autofill_message"></span><br /><br />
        webpage <br />{{ form.web_link }} <br /><br />
        publication <br />{{ form.publication }} <br /><br />
        year <br />{{ form.year }} <br /><br />
        authors (family name first, multiple authors separated by semicolon, e.g., "Smith, John; Lee, R.G.")<br /> {{ form.author_text }}
        <br /><br />
        abstract <br /> {{ form.abstract }} <br /><br />
        CrossRef metadata string <br /> {{ form.crossref }} <br /><br />
        downstream documents (separated by commas) <br /> {{ form.linked_document_text }}
        <input id="id_extract_title_from_pdf" name="extract_title_from_pdf" type="hidden" value="" />
    </form>

    {% if include_delete %}

    <br />

    <a href="{% url 'hypothesize_app:document_delete' document.id %}">delete this document</a>

    {% endif %}
</div>
</body>