<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/jquery.a-tools-1.4.1.js" %}"></script>
    <script src="{% static "js/jquery.asuggest.js" %}"></script>
    <script>
    $(document).ready(function(){
        //var suggests = ['elephant', 'rhino', 'elephino'];
        var suggests_documents = {{ document_pk_list | safe }};
        $.fn.asuggest.defaults.delimiters = " ";
        $.fn.asuggest.defaults.minChunkSize = 1;
        $("#id_linked_document_text").asuggest(suggests_documents);

        var suggests_authors = {{ author_name_list | safe }};
        $("#id_author_text").asuggest(suggests_authors);

        var suggests_publication = {{ publication_name_list | safe }};
        $("#id_publication").asuggest(suggests_publication);
    });
    </script>

    <title>
        {% if document %}
            EDIT: {{ document.title }}
        {% else %}
            add new document
        {% endif %}
    </title>
</head>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Title <br /> {{ form.title }} <br />
    Authors <br /> {{ form.author_text }} <br />
    Publication <br /> {{ form.publication }} <br />
    Year <br /> {{ form.year }} <br />
    Abstract <br /> {{ form.abstract }} <br />
    File <br /> {{ form.file }} <br />
    Webpage <br /> {{ form.web_link }} <br />
    Downstream documents <br /> {{ form.linked_document_text }} <br />
    <input type="submit" value="Save" />
</form>

{% if include_delete %}

<br />

<a href="{% url 'hypothesize_app:document_delete' document.key %}">delete this document</a>

{% endif %}