<div class="document-content">
<span class="document-key">
<strong>
    {% if document.file %}
        {% if file_server_address %}
            <a href="{{file_server_address}}/{{document.file.name}}">
                <strong>{{document.key}}</strong>
            </a>
        {% else %}
            <a href="{{ MEDIA_URL }}{{document.file}}">
                <strong>{{document.key}}</strong>
            </a>
        {% endif %}
    {% elif document.primary_external_link %}
        <a href="{{document.primary_external_link}}"><strong>{{document.key}}</strong></a>
    {% else %}
        <strong>{{document.key}}</strong>
    {% endif %}
    (<a href="{% url 'hypothesize_app:document_detail' document.key %}">open as new page</a>)
    (<a href="{% url 'hypothesize_app:document_change' document.key %}">edit</a>)
</strong>
</span>
<br />
<div class="document-text">
"{{ document.title }}"<br />
<em>{{ document.publication }}</em> {{ document.year }}<br />

<strong>abstract</strong><br />
{{ document.abstract }}<br />

<strong>authors</strong><br />
{{ document.author_text }}<br />

{% if document.linked_documents.all %}
    <br />
    <strong>downstream documents (documents linked to by this document):</strong>
    {% for ds_doc in document.linked_documents.all %}
    <a href="{% url 'hypothesize_app:document_detail' ds_doc.key %}" class="internal-link"
       data-linkkey="document-{{ds_doc.key}}">
       {{ds_doc.key}}</a>
    {% endfor %}
{% endif %}

{% if document.document_set.all %}
    <br />
    <strong>upstream documents (documents linking to this document):</strong>
    {% for us_doc in document.document_set.all %}
    <a href="{% url 'hypothesize_app:document_detail' us_doc.key %}" class="internal-link"
       data-linkkey="document-{{us_doc.key}}">
       {{us_doc.key}}</a>
    {% endfor %}
{% endif %}

{% if document.thread_set.all %}
    <br />
    <strong>upstream threads (threads linking to this document):</strong>
    {% for us_thread in document.thread_set.all %}
    <a href="{% url 'hypothesize_app:thread_detail' us_thread.key %}" class="internal-link" data-linkkey="thread-{{us_thread.key}}">
       {{us_thread.key}}</a>
    {% endfor %}
{% endif %}
</div>
</div>