<head>
    {% load staticfiles %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>

    <title>{{document.title}}</title>

</head>
<body>
<h3>
    <a href="{% url 'hypothesize_app:document_search' %}" style="color: black;">search documents</a>
    (<a href="{% url 'hypothesize_app:thread_search' %}">search threads</a>)
</h3>
<hr />
{% include 'hypothesize_app/document_detail_content_only.html' %}
</body>