<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>

    <title>search documents</title>
</head>

<body>

<div id="container">
    <h3>
        <a href="{% url 'hypothesize_app:document_search' %}" style="color: black;">search documents</a>
        &nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:thread_search' %}">search threads</a>)
        &nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:document_create' %}">add new document</a>)
        &nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:database_backup' %}">back up database</a>)
    </h3>

    <form action="{% url 'hypothesize_app:document_search' %}" method="get">
        {{ document_search_form.query }}
        (show top {{ document_search_form.max_hits }} results)
        <input type="submit" value="search" />
    </form>

    {% if documents %}
        {% for document in documents %}
            <div class="document_search_result search_result">

                <a href="{% url 'hypothesize_app:document_detail' document.key %}">

                <span class="document_key"><strong>{{document.key}}</strong></span></a>
                <span class="document_last_saved">({{document.last_saved}})</span>

                <br />
                <span class="document_title">{{document.title}}</span>
                    <br />

                <div class="document_abstract">
                    <a href="{% url 'hypothesize_app:document_detail' document.key %}">
                    {{document.abstract}}
                    </a>
                </div>

                <span class="document_key" hidden="hidden">{{ document.key }}</span>

            </div>
        {% endfor %}
    {% endif %}
</div>
</body>