<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>

    <title>search documents</title>
</head>

<body>

    <h3>
        <a href="{% url 'hypothesize_app:document_search' %}" style="color: black;">search documents</a>
    </h3>

    <form action="{% url 'hypothesize_app:document_search' %}" method="get">
        {{ document_search_form.query }}
        <input type="submit" value="search" />
        <br />
        Show top {{ document_search_form.max_hits }} results.
    </form>

    <a href="{% url 'hypothesize_app:topic_search' %}">search topics</a>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url 'hypothesize_app:document_create' %}">add new document</a>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url 'hypothesize_app:database_backup' %}">back up database</a><br /><br />

    {% if documents %}
        {% for document in documents %}
            <div class="document_search_result search_result">

                <a href="{% url 'hypothesize_app:document_detail' document.key %}">

                <span class="document_key"><strong>{{document.key}}</strong></span>
                <span class="document_last_saved">({{document.last_saved}})</span>
                    <br />
                <span class="document_title">{{document.title}}</span></a>
                    <br />

                <div class="document_abstract">
                    <a href="{% url 'hypothesize_app:document_detail' document.key %}">
                    {{document.abstract}}
                    </a>
                </div>

                <span class="document_key" hidden="hidden">{{ document.key }}</span>

            </div>
        {% endfor %}
    {% endif %}
</body>