<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

<h3>
    {% if document.file %}
        {% if file_server_address %}
            <a href="{{file_server_address}}/{{document.file.name}}">
                <strong>{{document.id}}</strong>
            </a>
        {% else %}
            <a href="{{ MEDIA_URL }}{{document.file}}">
                <strong>{{document.id}}</strong>
            </a>
        {% endif %}
    {% elif document.primary_external_link %}
        <a href="{{document.primary_external_link}}"><strong>{{document.id}}</strong></a>
    {% else %}
        <strong>{{document.id}}</strong>
    {% endif %}
    <a href="{% url 'hypothesize_app:document_change' document.id %}">(change)</a>
</h3>

"{{document.title}}"<br />
<em>{{document.publication}}</em> {{document.year}}<br />
Abstract:<br />
{{document.abstract}}<br /><br />
AUTHORS:<br />
{% for author in document.authors.all %}
    {{author.last_name}}<br />
{% endfor %}<br />
Supplementary material:
{% for supplement in document.supplement_set.all %}
    <a href="{{ MEDIA_URL }}{{supplement.file}}">{{supplement.id}}</a>
{% endfor %}

<br /><br />
<a href="{% url 'hypothesize_app:document_search' %}">return to search</a>

<h3>Nodes linking to this document</h3>
{% for linking_node in document.node_set.all %}
<a href="{% url 'hypothesize_app:node_detail' linking_node.id %}">{{linking_node.id}}</a>
{% endfor %}