<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>

    <title>Welcome to hypothesize!</title>
</head>
<body>
    <div id="container">
        <h3>
            (<a href="{% url 'hypothesize_app:thread_search' %}">search threads</a>)&nbsp; &nbsp; &nbsp;
            (<a href="{% url 'hypothesize_app:document_search' %}">search documents</a>)&nbsp; &nbsp; &nbsp;
            (<a href="{% url 'hypothesize_app:thread_create' %}">add new thread</a>)&nbsp; &nbsp; &nbsp;
            (<a href="{% url 'hypothesize_app:document_create' %}">add new document</a>)&nbsp; &nbsp; &nbsp;
            (<a href="{% url 'hypothesize_app:database_backup' %}">back up database</a>)&nbsp; &nbsp; &nbsp;
        </h3>
        <h3>welcome to hypothesize</h3>
    </div>
</body>