<h3>{{ node.title }} (<a href="{% url 'hypothesize_app:node_change' node.id %}">change</a>)
   (<a href="{% url 'hypothesize_app:node_search' %}">return to search</a>)</h3>
<hr />

{{ node.html | safe }}
<br />
{% if node.node_set.all %}
   <hr />
   <strong>upstream nodes (nodes linking to this node):</strong>
   {% for us_node in node.node_set.all %}
   <a href="{% url 'hypothesize_app:node_detail' us_node.id %}" class="internal-link" data-linkpk="node-{{us_node.id}}">
      {{us_node.id}}</a>
   {% endfor %}
{% endif %}