<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
</head>

<body>

    <h3>
        <a href="{% url 'hypothesize_app:node_search' %}" style="color: black;">search nodes</a>
    </h3>

    <form action="{% url 'hypothesize_app:node_search' %}" method="get">
        {{ node_search_form.query }}
        <input type="submit" value="search" />
    </form>

<a href="{% url 'hypothesize_app:node_create' %}">add new node</a><br />
<a href="{% url 'hypothesize_app:node_type_search' %}">edit node types</a><br />
<a href="{% url 'hypothesize_app:document_search' %}">search documents</a><br /><br />

{% if nodes %}
    {% for node in nodes %}
    <div class="node_search_result search_result">
        <a href="{% url 'hypothesize_app:node_detail' node.id %}">
        <span class="node_title"><strong>{{node.title}}</strong></span></a> (<span class="node_type">{{node.type}}</span>)
        <br />
        <span class="node_path">({{node.id}})</span>
        <br />
        <span class="node_last_viewed">(last viewed {{node.last_viewed}})</span>
        <br />
        <div class="node_teaser">
            {{node.text | truncatewords:"50" }}
        </div>
        <span class="node_id" hidden="hidden">{{ node.id }}</span>

    </div>
    {% endfor %}
{% endif %}

</body>

</html>