<head>
    <title>search node types</title>
</head>

<h3>Node types</h3>

<a href="{% url 'hypothesize_app:node_type_create' %}">new node type</a><br />
<a href="{% url 'hypothesize_app:node_search' %}">return to node search</a><br /><br />

{% if node_types %}
    {% for node_type in node_types %}
    <div class="node_type_search_result">
        <a href="{% url 'hypothesize_app:node_type_detail' node_type.id %}">
            {{ node_type.id }}: {{ node_type.description }}
        </a>

    </div>
    {% endfor %}
{% endif %}