<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/jquery.a-tools-1.4.1.js" %}"></script>
    <script src="{% static "js/jquery.asuggest.js" %}"></script>
    <script>
    $(document).ready(function(){
        //var suggests = ['elephant', 'rhino', 'elephino'];
        var suggests = {{ tab_complete_options | safe }};
        $.fn.asuggest.defaults.delimiters = "([";
        $.fn.asuggest.defaults.minChunkSize = 2;
        $("#id_text").asuggest(suggests);
    });
    </script>
    <script>
        function save_node() {
            $.ajax({
                url: "{% url 'hypothesize_app:ajax_node_saver' %}",
                type: "GET",
                data: {
                    'initial_id': $("#initial_id").val(),
                    'id': $("#id_id").val(),
                    'type': $("#id_type").val(),
                    'text': $("#id_text").val()
                },

                success: function(json){
                    alert(json['node_save_message']);
                },

                failure: function(json){
                    alert('Error saving node!');
                }
            });
        }

        function check_key_press(e) {

            // detect whether save command was pressed

            var evtobj = window.event? event : e
            if (evtobj.keyCode == 83 && evtobj.ctrlKey) {
                save_node();
            }
        }

        document.onkeydown = check_key_press;
    </script>

    <title>
        {% if node %}
            EDIT: {{ node.id }}
        {% else %}
            add new node
        {% endif %}
    </title>
</head>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input id="initial_id" type="hidden" value="{{ node.id }}" />
    <input type="submit" value="Save" />
</form>

{% if include_delete %}
<br />

<a href="{% url 'hypothesize_app:node_delete' node.id %}">delete this node</a>
{% endif %}