<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/jquery.a-tools-1.4.1.js" %}"></script>
    <script src="{% static "js/jquery.asuggest.js" %}"></script>
    <script>
    $(document).ready(function(){
        //var suggests = ['elephant', 'rhino', 'elephino'];
        var suggests = {{ tab_complete_options | safe }};
        $.fn.asuggest.defaults.delimiters = "([";
        $.fn.asuggest.defaults.minChunkSize = 2;
        $("#id_text").asuggest(suggests);
    });
    </script>
</head>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Save" />
</form>

{% if include_delete %}
<br />

<a href="{% url 'hypothesize_app:node_delete' node.id %}">delete this node</a>
{% endif %}