<strong>{{ thread.title }} (<a href="{% url 'hypothesize_app:thread_detail' thread.key %}">open as new page</a>)
(<a href="{% url 'hypothesize_app:thread_change' thread.key %}">edit</a>)</strong>
<hr />

{{ thread.html | safe }}
{% if thread.thread_set.all %}
   <br />
   <strong>upstream threads:</strong>
   {% for us_thread in thread.thread_set.all %}
   <a href="{% url 'hypothesize_app:thread_detail' us_thread.key %}" class="internal-link" data-linkkey="thread-{{us_thread.key}}">
      {{us_thread.key}}</a>
   {% endfor %}
{% endif %}