<div class="thread-content">
<span class="thread-title">
<strong>{{ thread.title }}
   {% if thread.directory %}
      (in: {{ thread.directory }})
   {% endif %}
   {% if is_internal_link %}
   (<a href="{% url 'hypothesize_app:thread_detail' thread.key %}">open as new page</a>)
   {% endif %}
   (<a href="{% url 'hypothesize_app:thread_change' thread.key %}">edit</a>)
</strong>
</span>

<div class="thread-text">
{{ thread.html | safe }}
{% if thread.thread_set.all %}
   <br />
   <strong>upstream threads:</strong>
   {% for us_thread in thread.thread_set.all %}
   <a href="{% url 'hypothesize_app:thread_detail' us_thread.key %}" class="internal-link" data-linkkey="thread-{{us_thread.key}}">
      {{us_thread.key}}</a>
   {% endfor %}
{% endif %}
   {% if is_internal_link %}
   (<a href="#" class="internal-link-close-button">close</a>)
   {% endif %}
   </div>
</div>