<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/jquery.a-tools-1.4.1.js" %}"></script>
    <script src="{% static "js/jquery.asuggest.js" %}"></script>
    <script>
        $(document).ready(function(){
            //var suggests = ['elephant', 'rhino', 'elephino'];
            var suggests = {{ tab_complete_options | safe }};
            $.fn.asuggest.defaults.delimiters = "([";
            $.fn.asuggest.defaults.minChunkSize = 2;
            $("#id_text").asuggest(suggests);

            $('#id_text').bind('input propertychange', function() {

                $('#thread_save_status').html('(unsaved changes -- press CTRL + S to save)');

            });
        });
    </script>

    <script>
        function save_thread() {
            $.ajax({
                url: "{% url 'hypothesize_app:ajax_thread_saver' %}",
                type: "GET",
                data: {
                    'id': $("#id_id").val(),
                    'key': $("#id_key").val(),
                    'text': $("#id_text").val()
                },

                success: function(json){
                    $('#thread_save_status').html(json['thread_save_message']);

                    if ('key' in json) {
                        $('title').html('EDIT: ' + json['key']);
                        var detail_url = "{% url 'hypothesize_app:thread_detail' 'key' %}".replace('key', json['quoted_key']);
                        $('#detail-link').attr('href', detail_url);
                    }

                    if ('new_id' in json) {
                        $('#id_id').val(json['new_id']);
                        var delete_url = "{% url 'hypothesize_app:thread_delete' 'id' %}".replace('id', json['new_id']);
                        $('#delete-link').attr('href', delete_url);

                    }
                },

                failure: function(json){
                    alert('Error saving thread!');
                }
            });
        }

        function check_key_press(e) {

            // detect whether save command was pressed

            var evtobj = window.event? event : e
            if (evtobj.keyCode == 83 && evtobj.ctrlKey) {
                save_thread();
            }
        }

        document.onkeydown = check_key_press;
    </script>

    <title>
        {% if thread %}
            EDIT: {{ thread.key }}
        {% else %}
            add new thread
        {% endif %}
    </title>
</head>

<a href="#" onclick="save_thread()">save</a>&nbsp;
{% if thread.key %}
    <a id="detail-link" href="{% url 'hypothesize_app:thread_detail' thread.key %}">view</a>&nbsp;
{% else %}
    <a id="detail-link" href="#">view</a>&nbsp;
{% endif %}
<a href="{% url 'hypothesize_app:thread_search' %}">return to search</a><br />

<form action="" method="post">
    {% csrf_token %}
    <br />
    key<br /> {{ form.key }} <br /><br />
    content <span id="thread_save_status"></span><br /> {{ form.text }}
    <input id="id_id" type="hidden" value="{{ thread.id }}" />
</form>

{% if thread.key %}
    <a id="delete-link" href="{% url 'hypothesize_app:thread_delete' thread.id %}">delete this thread</a>
{% else %}
    <a id="delete-link">delete this thread</a>
{% endif %}