<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>

    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>

    <script>
        function fetch_link_detail(el){
            $.ajax({
                url: "{% url 'hypothesize_app:ajax_link_fetcher' %}",
                type: "GET",
                data: {'linkkey': el.attr("data-linkkey")},

                success: function(json){
                    inside_div = json.html;
                    html = '<div class="expanded-link">' + json.anchor + ' ' + inside_div + '</div>';
                    $(html).insertAfter(el).hide().show("fast");
                },

                failure: function(json){
                    alert('failure!');
                }
            });

            return 'fetch_link_detail_return_string';
        }

        $(document).ready(function(){

            $(document).on('click', '.internal-link', function() {
                event.preventDefault();
                if ($(this).next().is(".expanded-link")) {
                    if ($(this).next().is(":visible")) {
                        $(this).next().hide("fast");
                    }
                    else {
                        $(this).next().show("fast");
                    }
                }
                else {
                    fetch_link_detail($(this));
                }

            });
        });
    </script>

    <title>{{thread.key}}</title>

</head>

{% include 'hypothesize_app/thread_detail_content_only.html' %}