<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>

    <title>search threads</title>
</head>

<body>
<div id="container">

    <h3>
        <a href="{% url 'hypothesize_app:thread_search' %}" style="color: black;">search threads</a>&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:document_search' %}">search documents</a>)&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:thread_create' %}">add new thread</a>)&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:document_create' %}">add new document</a>)&nbsp; &nbsp; &nbsp;
        (<a href="{% url 'hypothesize_app:database_backup' %}">back up database</a>)&nbsp; &nbsp; &nbsp;
    </h3>

    <form action="{% url 'hypothesize_app:thread_search' %}" method="get">
        {{ thread_search_form.query }}
        (show top {{ thread_search_form.max_hits }} results)
        <input type="submit" value="search" />
    </form>

{% if threads %}
    {% for thread in threads %}
    <div class="thread_search_result search_result">
        <a href="{% url 'hypothesize_app:thread_detail' thread.key %}">
        <span class="thread_title"><strong>{{thread.title}}</strong></span></a>
        {% if thread.directory %}
            (in: {{thread.directory}})
        {% endif %}
        <br />
        <div class="thread_teaser">
            {{thread.text | truncatewords:"50" }}
        </div>
        <span class="thread_id" hidden="hidden">{{ thread.id }}</span>

    </div>
    {% endfor %}
{% endif %}
</div>
</body>

</html>