<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/jquery.a-tools-1.4.1.js" %}"></script>
    <script src="{% static "js/jquery.asuggest.js" %}"></script>
    <script>
        $(document).ready(function(){
            //var suggests = ['elephant', 'rhino', 'elephino'];
            var suggests = {{ tab_complete_options | safe }};
            $.fn.asuggest.defaults.delimiters = "([";
            $.fn.asuggest.defaults.minChunkSize = 2;
            $("#id_text").asuggest(suggests);

            $('#id_text').bind('input propertychange', function() {

                $('#topic_save_status').html('(unsaved changes -- press CTRL + S to save)');

            });
        });
    </script>

    <script>
        function save_topic() {
            $.ajax({
                url: "{% url 'hypothesize_app:ajax_topic_saver' %}",
                type: "GET",
                data: {
                    'initial_id': $("#initial_id").val(),
                    'id': $("#id_id").val(),
                    'type': $("#id_type").val(),
                    'text': $("#id_text").val()
                },

                success: function(json){
                    $('#topic_save_status').html(json['topic_save_message']);

                    if ('new_id' in json) {
                        $('#initial_id').val(json['new_id']);
                        $('title').html('EDIT: ' + json['new_id']);
                    }
                },

                failure: function(json){
                    alert('Error saving topic!');
                }
            });
        }

        function check_key_press(e) {

            // detect whether save command was pressed

            var evtobj = window.event? event : e
            if (evtobj.keyCode == 83 && evtobj.ctrlKey) {
                save_topic();
            }
        }

        document.onkeydown = check_key_press;
    </script>

    <title>
        {% if topic %}
            EDIT: {{ topic.id }}
        {% else %}
            add new topic
        {% endif %}
    </title>
</head>

<a href="{% url 'hypothesize_app:topic_search' %}">return to search</a><br />

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input id="initial_id" type="hidden" value="{{ topic.id }}" />
    <input type="submit" value="Save" />
</form>

{% if include_delete %}
<br />

<a href="{% url 'hypothesize_app:topic_delete' topic.id %}">delete this topic</a>
{% endif %}