<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/skin.css" %}"/>
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/jquery.a-tools-1.4.1.js" %}"></script>
    <script src="{% static "js/jquery.asuggest.js" %}"></script>
    <script>
        $(document).ready(function(){
            //var suggests = ['elephant', 'rhino', 'elephino'];
            var suggests = {{ tab_complete_options | safe }};
            $.fn.asuggest.defaults.delimiters = "([";
            $.fn.asuggest.defaults.minChunkSize = 2;
            $("#id_text").asuggest(suggests);

            $('#id_text').bind('input propertychange', function() {

                $('#topic_save_status').html('(unsaved changes -- press CTRL + S to save)');

            });
        });
    </script>

    <script>
        function save_topic() {
            $.ajax({
                url: "{% url 'hypothesize_app:ajax_topic_saver' %}",
                type: "GET",
                data: {
                    'id': $("#id_id").val(),
                    'key': $("#id_key").val(),
                    'text': $("#id_text").val()
                },

                success: function(json){
                    $('#topic_save_status').html(json['topic_save_message']);

                    if ('key' in json) {
                        $('title').html('EDIT: ' + json['key']);
                        var detail_url = "{% url 'hypothesize_app:topic_detail' 'key' %}".replace('key', json['key']);
                        $('#detail-link').attr('href', detail_url);
                    }

                    if ('new_id' in json) {
                        $('#id_id').val(json['new_id']);
                        var delete_url = "{% url 'hypothesize_app:topic_delete' 'id' %}".replace('id', json['new_id']);
                        $('#delete-link').attr('href', delete_url);

                    }
                },

                failure: function(json){
                    alert('Error saving topic!');
                }
            });
        }

        function check_key_press(e) {

            // detect whether save command was pressed

            var evtobj = window.event? event : e
            if (evtobj.keyCode == 83 && evtobj.ctrlKey) {
                save_topic();
            }
        }

        document.onkeydown = check_key_press;
    </script>

    <title>
        {% if topic %}
            EDIT: {{ topic.key }}
        {% else %}
            add new topic
        {% endif %}
    </title>
</head>

<a href="#" onclick="save_topic()">save</a>&nbsp;
{% if topic.key %}
    <a id="detail-link" href="{% url 'hypothesize_app:topic_detail' topic.key %}">view</a>&nbsp;
{% else %}
    <a id="detail-link" href="#">view</a>&nbsp;
{% endif %}
<a href="{% url 'hypothesize_app:topic_search' %}">return to search</a><br />

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input id="id_id" type="hidden" value="{{ topic.id }}" />
</form>

{% if topic.key %}
    <a id="delete-link" href="{% url 'hypothesize_app:topic_delete' topic.id %}">delete this topic</a>
{% else %}
    <a id="delete-link">delete this topic</a>
{% endif %}