<h3>{{ topic.title }} (<a href="{% url 'hypothesize_app:topic_change' topic.id %}">change</a>)
   (<a href="{% url 'hypothesize_app:topic_search' %}">return to search</a>)</h3>
<hr />

{{ topic.html | safe }}
<br />
{% if topic.topic_set.all %}
   <hr />
   <strong>upstream topics:</strong>
   {% for us_topic in topic.topic_set.all %}
   <a href="{% url 'hypothesize_app:topic_detail' us_topic.id %}" class="internal-link" data-linkpk="topic-{{us_topic.id}}">
      {{us_topic.id}}</a>
   {% endfor %}
{% endif %}